# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Claude Code
.claude/

# Project files
CS 5200 Project Proposal-3.pdf

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
papertrail-app/.next/
papertrail-app/out/

# production
/build
papertrail-app/build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
papertrail-app/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
app_logs_debug.txt
upgrade_plan.md
